aws_region  = "us-east-1"
project     = "secure-file-portal
alert-email = "your-email@example.com   # change this

vault_prefixes = {
    viewer = "docs/viewer/"
    editor = "docs/editor"
    admin  = "docs/admin"
}
